/* Full-sized desktop stylesheet */
html {
	background-image: url("images/rock_texture.jpg");
	background-size: 1920px 1080px ;
}

header {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

nav {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(220, 220, 220, 0.5);
}

nav.minimized {
	display: flex;
	visibility: visible;
	margin-bottom:40px;
}

nav p {
	width: 25%;
	text-align:center;
	padding-left: 20px;
	padding-right: 20px;
}

nav p:hover {
	font-weight: bold;
	background-color: red;
}

#navmenu {
	width:50px;
	height:50px;
	margin: 20px;
	border: 3px solid white;
	border-radius: 10px;
	display:none;
	visibility:hidden;
}

.navdropdown {
	width:75%;
	display: none;
	align-items: start;
	justify-content: center;
	background-color: rgba(220, 220, 220, 0.5);
	margin-bottom: 15px;
	visibility: hidden;
}

#navdropdown.visible {
	display: table;
}

.navdropdown .column {
	display: table-cell;
	height: auto;
}

.navdropdown .column:hover {
	background-color:red;
}

.contactpopup {
	width:25%;
	float: right;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(220, 220, 220, 0.5);
	visibility: hidden;
}

.visible {
	display: flex;
	visibility: visible;
}

.column {
	width: 33%;
	padding-left: 20px;
	padding-right: 20px;
}

.column a {
	padding-left: 20px;
	padding-right: 20px;
}


main {
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

main.wrapperFrame {
}

iframe {
	width: 720px;
	height: 480px;
}

.banner {
	border-radius: 20px;
	object-fit: cover;
	margin: 20px;
	height: 200px;
	width: calc(100% - 40px);
	order:0
}

#wrapper {
	border: solid;
	border-width: 5px;
	border-color: lightgrey;
	border-radius: 50px;
	width: calc(75% - 40px);
	margin: 20px;
	order:1;
	align-self: start;
	
}

.minimized {
	order:2;
	display:none;
	visibility: hidden;
}

#bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 35%;
	order:1;
	margin: auto;
	margin-top: 40px;
}

#bio.minimized {
	width:25%;
	margin: 20px;
	display: flex;
	visibility: visible;
}

section {
	display: flex;
	flex-direction: column;
	border: solid;
	border-width: 2px;
	border-radius: 30px;
	border-color: lightgrey;
	background-color: rgba(220, 220, 220, 0.5);
	margin: 20px;
	padding: 50px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	color: lightgrey;
	font-family: 'Georgia', serif;
}

h2 {
	color: lightgrey;
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
}

p {
	width: 100%;
	color: lightgrey;
	font-family: 'Helvetica', sans-serif;
}

li {
	color: lightgrey;
	font-family: 'Helvetica', sans-serif;
}

.galleryItem {
	width: 720px;
	
}

.headshot {
	border-radius: 100%;
	margin: 10px;
}



/* Windowed mode and tablet stylesheet */
@media only screen and (max-width: 1100px) {
	html {
		background-image: url('images/rock_texture.jpg');
		background-size: 960px 540px ;
	}
	
	section {
		padding: 30px; 
	}
	
	h1 {
		font-size: 22px;
	}
	
	h2 {
		font-size: 18px;
	}
	
	nav, nav.minimized {
		visibility: hidden;
		display: none;
	}
	

	main.wrapperFrame {
		flex-direction: column;
	}
	
	#wrapper {
		width: calc(100% - 40px);
	}
	
	#bio {
		min-width:100%;
	}
	
	#bio.minimized {
		min-width:100%;
	}
	
	#navmenu {
		visibility: visible;
		display: inline-block;
	}
	
	#navdropdown {
		width:100%;
		flex-direction: column;
	}
	
	
}

/* Single-column and mobile stylesheet */
@media only screen and (max-width: 800px) {
	section {
		flex-direction: column;
	}
	
	section {
		padding: 15px; 
	}
	
	h1 {
		font-size: 18px;
	}
	
	h2 {
		font-size: 16px;
	}
	
	.headshot {
		margin: auto;
		margin-bottom: 30px;
	}
}